<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org" lang="en">
<head>
    <title>Spring Boot User Authentication</title>
</head>
<body>
<form role="form" th:action="@{/sign-up}" th:method="post" th:object="${user}">
    <label>Name</label>
    <input type="text" id="name" name="name" th:field="*{name}">

    <label> Surname</label>
    <input type="text" id="surname" name="surname" th:field="*{surname}">
    <label>Email</label>
    <input type="email" id="email" name="email" th:field="*{email}">
    <lable>Password</lable>
    <input type="password" id="password" name="password" th:field="*{password}">
    <input type="submit">

</form>

</body>
</html>